<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>AddBookServlet</servlet-name>
        <servlet-class>com.finlogic.servlet.AddBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookServlet</servlet-name>
        <servlet-class>com.finlogic.servlet.UpdateBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBookServlet</servlet-name>
        <servlet-class>com.finlogic.servlet.ViewBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBookServlet</servlet-name>
        <servlet-class>com.finlogic.servlet.EditBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMemberServlet</servlet-name>
        <servlet-class>com.finlogic.servlet.AddMemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMemberServlet</servlet-name>
        <servlet-class>com.finlogic.servlet.ViewMemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IssueBookServlet</servlet-name>
        <servlet-class>com.finlogic.servlet.IssueBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IssuedBookservlet</servlet-name>
        <servlet-class>com.finlogic.servlet.IssuedBookservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMemberServlet</servlet-name>
        <servlet-class>com.finlogic.servlet.EditMemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMemberServlet</servlet-name>
        <servlet-class>com.finlogic.servlet.UpdateMemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnBookServlet</servlet-name>
        <servlet-class>com.finlogic.servlet.ReturnBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmReturnServlet</servlet-name>
        <servlet-class>com.finlogic.servlet.ConfirmReturnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardDataServlet</servlet-name>
        <servlet-class>com.finlogic.servlet.DashboardDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.finlogic.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.finlogic.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.finlogic.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBookByIdServlet</servlet-name>
        <servlet-class>com.finlogic.servlet.ViewBookByIdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMemberByIdServlet</servlet-name>
        <servlet-class>com.finlogic.servlet.ViewMemberByIdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IssuedBookInfoServlet</servlet-name>
        <servlet-class>com.finlogic.servlet.IssuedBookInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddBookServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBookServlet</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBookServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMemberServlet</servlet-name>
        <url-pattern>/addmember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMemberServlet</servlet-name>
        <url-pattern>/viewmember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IssueBookServlet</servlet-name>
        <url-pattern>/IssueBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IssuedBookservlet</servlet-name>
        <url-pattern>/IssuedBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMemberServlet</servlet-name>
        <url-pattern>/editmember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMemberServlet</servlet-name>
        <url-pattern>/updatemember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnBookServlet</servlet-name>
        <url-pattern>/ReturnBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmReturnServlet</servlet-name>
        <url-pattern>/ConfirmReturnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardDataServlet</servlet-name>
        <url-pattern>/DashboardDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteBookServlet</servlet-name>
        <servlet-class>com.finlogic.servlet.DeleteBookServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookServlet</servlet-name>
        <url-pattern>/DeleteBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBookByIdServlet</servlet-name>
        <url-pattern>/viewbookbyid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMemberByIdServlet</servlet-name>
        <url-pattern>/viewmemberbyid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IssuedBookInfoServlet</servlet-name>
        <url-pattern>/IssuedBookInfoServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SettingsServlet</servlet-name>
        <servlet-class>com.finlogic.servlet.SettingsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SettingsServlet</servlet-name>
        <url-pattern>/settings</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserIssueBookFormServlet</servlet-name>
        <servlet-class>com.finlogic.servlet.UserIssueBookFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserIssueBookFormServlet</servlet-name>
        <url-pattern>/user_issuebook.html</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>home.html</welcome-file>
    </welcome-file-list>
</web-app>
